@mixin button($font-size, $border-radius) {
    background-color: $teal;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    color: #ffffff !important;
    border-radius: $border-radius;
    font-size: $font-size;
}

@mixin no-outline {
    box-shadow: none !important;
    outline:  none !important;
}